.parent {
  border-top: 1px solid;
  padding-top: 30px;
  text-align: center;
  color: grey;
  margin-top: 50px;
}

.child {
  display: inline-block;
  /* width: 33.3%; */
  width: 25%;
  vertical-align: top;
}

.items {
  color: grey;
}

.title {
  color: #65cdf1;
}
