h1 {
	text-align: center;
	color: white;
	font-size: 2.2em;
}

h2 {
	color: #65cdf1;
	text-align: center;
	font-size: 1.8em;
}

.s-alert-box-inner {
	text-align: center;
}

.bottomBar {
	position: fixed;
	z-index:99;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	background: grey;
}

.homeWrapper {
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

.withdraw {
	margin-right: 30px;
	right: 40px;
	transform: translatey(0px);
	position: fixed;
	height: 60px;
	top: 40px;
	width: 140px;
	color: #FFF;
	text-align: center;
	/* box-shadow: 2px 2px 3px #999; */
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	font-weight: bold;
	margin-top: 30px;
	overflow-wrap: break-word;
}

.btn-right-animation {
	height: 60px;
	transform: translatey(0px);
	animation: float 1s ease-in-out;
	animation-iteration-count: 3;
	width: 25%;
}


.btn-right, .btn-left, .float-right-animation, .btn-middle {
	height: 60px;
	text-align: center;
	/* box-shadow: 2px 2px 3px #999; */
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	font-weight: bold;
	overflow-wrap: break-word;
}

.btn-left {
	width: 25%
}

.btn-middle {
	width: 50%
}

.btn-right {
	width: 25%;
	background-color: #98FB98;
}

.inner {
	display: inline;
	width: 25%;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.Web3Provider-container {
	display: none;
}
