.manageAdsContainer {
  margin-top: 60px;
  margin-bottom: 60px;
  color: white;
  border: 1px solid;
  padding-bottom: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  margin-bottom: 15px;
}

.form-control {
  width: 95%;
  float: left;
}

.info {
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5px;
}

.custom-file-input {
  float: left;
  margin-top: 10px;
}

.activeButton {
  margin-left: 10px;
}
