h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

.noBorder {
	border: none !important;
}

table, td, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-right: 100px;
}

th, td {
    border: 1px solid #ddd;
		padding: 12px;
		text-align: center;
}

.nextButton {
	margin-top: 20px;
}

.modalH2 {
	font-size: 2em;
	margin-top: 40px;
}

.h2Wrapper {
	border-bottom:  1px solid;
	margin-bottom: 20px

}

.form-group {
	margin-top: 20px;
}

input {
	margin: auto;
	margin-bottom: 10px;
}

.sweet-loading {
	position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999999999;
  overflow: hidden;
}
